.overallBackground{
  background-color: transparent;
  
}
.ant-layout-sider{
  background: transparent !important;
}
.ant-layout-header{
  background: transparent !important;
}
.ant-layout{
  background: transparent !important;
}
.ant-steps-item-title{
  color: white !important;
}
.ant-steps-item-description{
  color: white !important;
}
.ant-steps-item-container{
  padding-bottom: 5%;
}