@font-face {
  font-family: battlefield3;
  src: url(./font/bebas.ttf);
}
@font-face {
  font-family: bf3Better;
  src: url(./font/bffont.ttf);
}
*{
  font-family: bf3Better;
}
.overallBackground{
  background-color: transparent;
}
.ant-steps{
  width:auto
}
.ant-layout-sider{
  background: transparent !important;
}
.ant-layout-header{
  background: transparent !important;
}
.ant-layout{
  background: transparent !important;
}
.ant-steps-item-title{
  color: white !important;
}
.ant-steps-item-description{
  color: white !important;
}
.ant-steps-item-container{
  padding-bottom: 5%;
  width: fit-content;
}
.ant-steps-item .ant-steps-item-content{
  position: relative;
  top: -15px;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background: rgba(0,128,0,0.5);
  border-color: rgba(0,128,0,0.5);
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background:transparent;
  border-color: transparent;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background: transparent;
  border-color: transparent;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
  color: white;
}
.anticon{
  color: white;
}
.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
  stroke:  rgba(5, 57, 97,1);
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
  background-color:  rgba(5, 57, 97,1);
}
.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
  left:15px
}
.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after{
  width: 2px;
}
.ant-steps-item-icon{
  font-family: bf3Better;
  top: -1px
}
.ant-steps-item-icon .ant-steps-icon{
  top: -2px;
}

.ksButton{
 color: white; font-family: bf3Better;  width: 30%;margin-top: 6%;
}

.infoText{
  color:white;
  font-family: bf3Better;
  flex-basis: 30%;
  text-align: center;
}